@import "_variables.scss";

* {
  min-width: 0;
  font: inherit;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}
